.asset-outer {
  width: 90px;
  height: 90px;
  padding: 10px;
  display: inline-block;
  margin: 2px;
  margin-bottom: 0;
  margin-top: 0;
  border-radius: 3px;
  overflow: hidden;
}

.asset-inner {
  display: inline-block;
  position: relative;
  right: -50%;
}

.asset-inner img {
  width: 90%;
  position: relative;
  left: -50%;
}
